body {
    width: 996px;
    height: 616;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
}

p {
    display: grid;
    grid-template-columns: 2/ span 4;
    grid-template-rows: 2fr;

    font-size: x-large;
    color:darkblue;
    width: 350px;
    text-transform: capitalize;
}

section {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 468px;
    
}

section .item1 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}

section .item2 {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

section .outrosItens {
    display: inline-grid;
    align-items: center;

}


nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}